@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'inter',sans-serif;
}
body{
    text-align: center;
    background-color: #ffffff;
    height: 100vh;
    padding: 0.5rem;
}

.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.header-content-box1{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #333333;
    gap: 0.425rem;
}

.logo-icon{
    height: 1.3rem;
    width: 1.5rem;
}
.logo-text{
    font-size: 1.5rem;

}

.navbar{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:686px){
    .navbar{
        display: flex;
    }

    
} 
    

.nav-link{
    color: #718096;
    font-size: 0.899rem;
    font-weight: 600rem;
    transform: color 0.25;
    
}

.nav-link:hover{
    color: blue;
}

.contact-us{
    border: none;
    border-radius: 0.5rem;
    background-color: #5254f8;
    color: white;
    padding: 0.5rem  0.5rem;
    transform: color 0.25;
    font-size: 1rem;
    font-weight: 600;
    display: none;
}
@media screen and (min-width:686px){
    .contact-us{
        display: flex;
    }
    
}


.contact-us:hover{
    background-color: blue;
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    transform: color 0.25;

}
.menu-button :hover{
    background-color: #5254f8;
}
@media screen and (max-width:686px) {
    .menu-button{
        display: flex;
    }
    
}

/* .header{
    border: 1px solid black;
} */



.hero-section-content{

    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;


}

.comtent-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

    
}

.content-left-para{
    color: #5254f8;
    font-weight: 600;
    font-size: 0.9rem;
}

.content-left-heading{
    font-size: 2.1rem;
    font-weight: 600;
    color: #333333;
}
.content-left-para2{
    color: #718096;
    font-size: 0.8rem;

}

.button-group{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    

    
    
    
}
.button1,.button2{
    border: none;
    border-radius: 0.5rem;
    background-color: #5254f8;
    color: white;
    padding: 0.5rem  0.5rem;
    transform: color 0.25;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    
    


}
.button2{
    background-color: #555;
}
.button1:hover{
    background-color: blue;
}
.button2:hover{
    background-color:grey;
}



.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 55vh;
    border: none;
    border-radius: 1rem;

}
.content-right-image{
    height: 100%;
    width: 100%;
}


@media screen  and (min-width:686px){

    .hero-section-content{

        /* max-width: 1000px; */
        display: flex;
        flex-direction: row;
        /* margin: 0 auto;
        gap: 2rem;
        align-items: center;
        padding: 0.5rem; */
    
    }
    .content-left{
        max-width: 50%;
        align-items: left;
        text-align: left;
        
    }

    .button-group{
        justify-content: left;
        padding: 0;
        
    }

    .content-left-heading{
        padding: 0;
        width: 80%;
    }
    .content-left-para2{
       padding: 0;
    
    }
    .content-left-para{
        padding: 0;
     
     }

     .content-right{
          }

    .image-container{
        height: 67vh ;
    }
    .content-left-para2{
        font-size: 0.8rem;
        color: gray;
        width: 70%;
        padding-top: 1rem;
    }

     
    
}

/* .hero-section{
    border: 1px solid black;

} */


.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color:lightgray;
    border: none;
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    padding: 1.8rem 2.5rem;
    margin-bottom: 2rem;




}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    color: gray;
    

}

.svg-image{
    height: 1.56rem;
    

}
.logo-text{
    font-size: 1rem;
   
}

@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    
}



.feature-container{
    background-color:lightgray;
    padding: 2.5rem 0rem ;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-tilte{
    font-size: 2.2rem;
}
.main-description{
    color: gray;
    font-size: 0.9rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    margin-top: 1.5rem;
}

.icon-container{
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.feature-svg{
    height: 1.5rem;
    width: rem;
}

.feature-card{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color:rgb(95, 95, 248);
    gap: 0.5rem;
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;

}
.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;


}
.feature-description{

    color: white;
}
.feature-card:nth-child(1){
    background-color: #4a90a2;

}

.feature-card:nth-child(2){
    background-color: #FF6289;

}
.feature-card:nth-child(3){
    background-color: #fcbf58;

}
.feature-card:nth-child(4){
    background-color: #44bfc3;

}
.feature-card:nth-child(5){
    background-color: #77b05d;

}
.feature-card:nth-child(6){
    background-color: #7d78b1;

}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,6fr);
    }

    
}



.testimonial-container{
    background-color: #ffffff;
    padding:  2rem;
    max-width: 0 auto;
    max-width: 1280px;

}
.testimonial-content{
    width: 80%; 
    margin: 0 auto;
   
    
}

.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
   
    border: 1px solid rgb(184, 182, 182);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem;
    gap: 1rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial-avatar{
    

}
.avatar-size{
    height: 5rem;
    width: 5rem;
}
.testimonial-text{
    font-size: 0.875rem;
    color: #555;
}

.testimonial-name{
    font-size:1rem ;
    color: #6366F1;
}
.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

@media screen and (max-width:768px) {
    .testimonial-grid{
        display: flex;
        flex-direction: column;
    }

    
}

.newsletter-container{
   
    background-color: #ffffff;
    padding: 2rem;
    max-width: 1280px;
    height: 48vh;
    margin: 0 auto;
    
    
    
}


.newsletter-content{
    
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    width: 80%;
    
    gap: 1rem;
    background-color:lightgrey;
    border-radius: 7px;
    
   
}
.newsletter-image{
    /* height: 1rem;
    width: 1rem;*/
    height: 100%;
    width: 65%;
    position: relative;
    
    
}
.newsletter-image-sec{

    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    inset: 0;
    display: none;
    
    
    
    


}
@media screen and (min-width:640px) {
    .newsletter-image-sec{
        display: block;
        
    }

    
}


  
    


.newsletter-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
    border-radius: 7px;
    gap: 1rem;
    padding: 2rem;
    text-align: left;
    
    
    padding-left: 3rem;
    

}



    
    

.heading-name{
    color:#6366F1 ;

}

.para-name{
    color: #777;
}
.newsletter-input{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.news-input{
    background-color: #ffffff;
    outline: none;
    color: #333;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.news-input:focus{
    border-color: #2563eb;
}

.news-button{
     
    background-color:#6366F1; 
    color:#ffffff;
    outline: none;
    padding: 0.5rem 0.75rem;
    border-radius:5px ;
    border: none;
}

.news-button:hover{
    background-color: blue;
}

.newletter-details-para{
    color: #777;
    

}


.footer-container{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;

}
.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}
.logo-svg{
    width: 2rem;
    height: 6rem;
}
.comp-logo{
    display: flex; 
    justify-content: flex-start; 
    margin-bottom: -1.9rem;
} 

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;

}
.social-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.filler-text{
    color: #777;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5.67rem;
    padding: 2rem 1rem;
    width: 58%;
}
.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: #333333;
}
ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.9rem;
}



.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;

}
.social{
    display: flex;
    gap: 0.8rem;
}

.footer-copyright{
    color: #808080;
    font-size: 0.75rem;
    padding: 2rem;
    margin-top: 1.5rem;
    border-top: 1px solid #E5E7EB;
    max-width: 1280px;


}

@media screen and (max-width:1080px) {
    .footer{
        
        
        flex-direction: column;
        align-items: center;
    }  
    .footer-top{
        /* justify-content: center;
        margin: 0 auto; */
        padding-left: 14rem;

    }
    .footer-grid{
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {


   .footer-grid{
    grid-template-columns: repeat(2,1fr);
   }
   .footer-top{
    
    padding-left: 3rem;

}
    
}







   



